# Ignore .env file in the ujuzi folder
/core/.env

# Ignore the migrations folder of the accounts app
/accounts/migrations/

# Ignore the __pycache__ folders of both ujuzi and accounts
/core/__pycache__/
/accounts/__pycache__/

random.md

/accounts/avatars/